@layer base {
  html.dark {
    .tippy {
      &-box {
        background-color: #FFF;
      }
      &-content {
        color: #000;
      }
      &-arrow {
        color: #FFF;
      }
    }
  }
  // html {
  //   font-family: "Fira Code", monospace;
  //   font-optical-sizing: auto;
  // }

  .description {
    @apply text-gray-400;

    section {
      @apply grid;
    }

    h2, p, ol, ul, code:not(.hljs) {
      @apply mb-3;
    }

    h2 {
      @apply text-gray-700 dark:text-gray-200;
      @apply font-semibold text-2xl;

      &.active {
        @apply text-yellow-500 dark:text-yellow-300;
      }
    }

    a {
      @apply font-semibold;
      @apply text-primary-500 dark:text-primary-300;
      @apply hover:shadow-primary-400 hover:shadow-[0_2px_0_0] dark:hover:shadow-primary-300;
    }

    code:not(.hljs) {
      @apply font-semibold;
      @apply text-gray-700 dark:text-gray-100;
    }
  }

  // .title {
  //   @apply font-semibold text-gray-700 dark:text-gray-200;

  //   @at-root {
  //     h1#{&} {
  //       @apply text-4xl;
  //     }
  //     h2#{&} {
  //       @apply text-2xl;
  //     }
  //   }
  // }

  // .child-page {
  //   @apply text-zinc-400 dark:text-zinc-400;
  // }
}